<div class="ahorcado">
  <h2>Juego del Ahorcado</h2>

  <p class="progreso">{{ progreso.join(' ') }}</p>  //convierte progreso en un array de guiones y con el punto join eso lo convierte en un string y queda _ _ _ _ 
  <p>Intentos: {{ intentos }} / {{ intentosMax }}</p>   

  <div class="teclado">
    <button 
      *ngFor="let letra of letras" 
      (click)="seleccionar(letra)"
      [disabled]="mensajeFinal !== ''">
      {{ letra }}
    </button>
  </div>

  <button (click)="iniciarJuego()">🔄 Nueva palabra</button>

  <p class="final" *ngIf="mensajeFinal">
    {{ mensajeFinal }}
  </p>
</div>

