@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap');

:host {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 1rem;
  font-family: 'Orbitron', sans-serif;
  background-color: black;
  min-height: 100vh;
}

div {
  background: #111;
  padding: 20px 25px;
  border-radius: 12px;
  box-shadow: 0 0 20px #00FFFF;
  width: 90%;
  max-width: 380px;
  text-align: center;
  border: 2px solid #00FFFF;
}

h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #00FFFF;
  margin-bottom: 15px;
  background-color: #111;;
}

img {
  width: 140px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 2px solid #00FFFF;
}

button {
  padding: 10px 18px;
  font-size: 1rem;
  margin: 8px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #00FFFF;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

button:hover {
  background-color: #00cccc;
  transform: translateY(-2px);
  box-shadow: 0 0 10px #00FFFF;
}

button:active {
  transform: translateY(1px);
}

p {
  font-size: 1rem;
  color: #00FFFF;
  margin-top: 15px;
  background-color: #111;;
}

.mensaje-final {
  font-size: 1.2rem;
  font-weight: bold;
  color: #00FFFF;
  text-shadow: 0 0 5px #00FFFF;
}


