<div class="login-container">
  <h2>Iniciar sesión</h2>

<div id="div_formulario">
  <form [formGroup]="form" (ngSubmit)="login()">
    <div>
      <label for="email">Correo</label>
      <input id="email" type="email" formControlName="email" placeholder="Ingresa tu correo" />
    </div>

    <div>
      <label for="password">Contraseña</label>
      <input id="password" type="password" formControlName="password" placeholder="Ingresa tu contraseña" />
    </div>

    <button id="boton_login" type="submit" [disabled]="form.invalid">Ingresar</button>
  </form>
</div>

  <!-- Mostrar error -->
  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>


<h3>Login rápido:</h3>
<div class="login-rapido">
  <button *ngFor="let usuario of usuariosRapidos" (click)="loginRapido(usuario)">
    {{ usuario.email }}
  </button>
</div>


</div>

