<div *ngIf="cargando">Cargando preguntas...</div>

<!-- Selección de categoría con botones -->
<div *ngIf="!cargando && preguntas.length === 0 && !juegoTerminado">
  <h2>Selecciona la categoría</h2>
  <div class="categoria-buttons">
    <button (click)="iniciarJuego('todas')">Todas</button>
    <button *ngFor="let cat of categorias" (click)="iniciarJuego(cat)">
      {{cat}}
    </button>
  </div>
</div>


<div *ngIf="!cargando && !juegoTerminado && preguntas.length > 0">
  <h2>Pregunta {{ preguntaActualIndex + 1 }} de {{ limitePreguntas }}</h2>
  <p>{{ preguntaActual?.question }}</p>

  <div *ngFor="let opcion of opcionesActuales">
    <button (click)="verificarRespuesta(opcion)">
      {{ opcion }}
    </button>
  </div>

  <p>Puntaje: {{ puntaje | puntos }}</p>
  
  
  <p style="font-size: 1.2rem; color: #00FFFF;">
    ⏱ Tiempo jugado: {{ tiempoJugado }}s
  </p>
</div>


<div *ngIf="juegoTerminado">
  <h2>🎉 ¡Juego terminado!</h2>
  <p>Tu puntaje final es: {{ puntaje | puntos }}</p>
  <button (click)="reiniciarJuego()">Reiniciar Juego</button>
</div>

<app-sala-chat></app-sala-chat>













