<div *ngIf="cargando">Cargando preguntas...</div>

<div *ngIf="!cargando && !juegoTerminado">
  <h2>Pregunta {{ preguntaActualIndex + 1 }} de {{ limitePreguntas }}</h2>
  <p>{{ preguntaActual?.question }}</p>

  <div *ngFor="let opcion of opcionesActuales">
    <button (click)="verificarRespuesta(opcion)">
      {{ opcion }}
    </button>
  </div>

  <p>Puntaje: {{ puntaje | puntos }}</p>
</div>

<div *ngIf="juegoTerminado">
  <h2>🎉 ¡Juego terminado!</h2>
  <p>Tu puntaje final es: {{ puntaje | puntos }}</p>
  <button (click)="reiniciarJuego()">Reiniciar Juego</button>
</div>











