<div class="bienvenida">
  <h1>Bienvenido a Sala de Juegos 🎮</h1>

  <div *ngIf="!usuario">
    <button  (click)="irALogin()">Iniciar sesión</button>
    <button  (click)="irARegistro()">Registrarse</button>
  </div>


  <div *ngIf="usuario">
    <p>Hola, <strong>{{ usuario.email }}</strong></p>
    <button  (click)="logout()">Cerrar sesión</button>
  </div>

  <hr>

  <h2>Juegos disponibles</h2>


  <div class="juegos">
      <img src="ahorcado.jpg" 
       alt="Ahorcado" 
       (click)="irAAhorcado()" 
       class="juego-img">

      <img src="higher-lower-card-game.jpg" 
       alt="Mayor o Menor" 
       (click)="irAMayorMenor()" 
       class="juego-img">
  </div>

  <div class="chat">
    <button (click)="irASalaChat()">💬 Chat global</button>
  </div>


</div>

